<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014126224810-vj16au4be5ao2u2udqt3qjprvf029at4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014126224810-vj16au4be5ao2u2udqt3qjprvf029at4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014126224810-a88kfap21j0nu2qmg5vkl519vlrt855r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCksc5ZrmqVJSXIhY9V1pXykzocBNZsQcc</string>
	<key>GCM_SENDER_ID</key>
	<string>1014126224810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebook</string>
	<key>PROJECT_ID</key>
	<string>facebook-63a07</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-63a07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014126224810:ios:2728e0fe9325a8dee737d3</string>
</dict>
</plist>